body {
    background-color: rgb(164, 184, 184);
  }

  h1 {
    color: black;
    font-family: 'Mohave', sans-serif;
  }
  p {
    color: black;
    font-family: 'Mohave', sans-serif;
  }
  
  .fundo{
    background-color: rgba(164, 184, 184);
    padding: 20px;
    margin: 200px auto;
}